@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Noto Sans";
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: rgb(149, 149, 239);
    grid-area: 1 / 1 / 3 / 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#logo {
    width: 3rem;
    height: 3rem;
}

.sidebar img {
    width: 2rem;
    height: 2rem;
}

.searchIcons {
    width: 2rem;
    height: 2rem;
}

#search {
    width: 22rem;
    height: 1rem;
    flex: 1;
    border-radius: 8px;
}

.search {
    display: flex;
    align-items: center;
    gap: .5rem;
    grid-column: 1 / -1;
}

header {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 5fr 4fr 4fr;
    padding: 20px 40px;
}

.buttons {
    display: flex;
    grid-column: -2 / -1;
    gap: 10px;
}

header :not(.search) {
    place-self: center;
}

.greeting * {
    margin: 0;
}

.main {
    background-color: rgb(200, 200, 200);
    display: grid;
    grid-template-columns: calc(100% - 400px) 400px;
    padding: 15px;
}

.card {
    width: 400px;
    height: 200px;
    border-left: .5rem solid rgb(149, 149, 239);
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: .5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
}

.announcements * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.profile p {
    margin: 3px auto 3px;
}

.profile img {
    place-self: center;
}

button {
    background-color: rgb(149, 149, 239);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 2rem;
    height: 4rem;
    width: 8rem;
    font-size: 1.5rem;
}

.announcements {
    background-color: rgb(240, 240, 240);
    border-radius: .5rem;
    padding: 10px;
}

.trending {
    background-color: rgb(240, 240, 240);
    border-radius: .5rem;
    padding: 10px;
}